package $!{servicePackage};

import com.rm.generator.service.BaseService;
import $!{entityPackage}.$!{domainName}Entity;

/**
 * $!{tableRemake}
 */
public interface $!{domainName}Service extends BaseService<$!{domainName}Entity> {

}
